@import url(fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);

body{
    background-color: white;
    font-family: cyrillic, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    padding-bottom: 0px;
    margin: 0px;
    font-size: 35px;
    line-height: 1;
}

.header{
    height: 20%;
    background: greenyellow;
    background-color: greenyellow;
    border-bottom: solid 2px yellow;
    padding-top: 2px;
    padding-bottom:10px;
    margin-bottom: 20px;
    text-align: center;
    color: green;
    font-size:large;
    font-weight: bolder;
    font-family: 'cyrillic','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#head{
    background-color: greenyellow;
    padding: 0px;
    margin: 0px;
}

.Section, .sec{
    height: 80%;
}
#main, .sec{
    padding: 15px;
    background-color:antiquewhite;
    display: block;
    text-align: center;
}

#main img{
    width:50%;
    height:50%;
    margin-bottom: 0px;
    border: solid yellowgreen 5px;
}

#main p{
    font-size: larger;
    margin: 0px;
    text-align: center;
}

.others{
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 248, 228);
    padding: 10px;
    margin: 10px 0px;
    align-items: center;
    justify-content: space-between;
}

#top{
    margin: 30px 0px;
    padding: 15px 50px;
    justify-self: center;
    color: white;
    border: solid olivedrab 5px;
    border-radius: 20px;
    background-color: orangered;
    text-align: center;
}

.others img{
    width: 400px;
    height: 500px;
    border: solid olivedrab 2px;
}

a :hover{
    border-right: solid 2px yellow;
    border-left: solid 2px yellow;
}

.other{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 auto;
    /*border: solid red 2px;*/
}

.one, .two{
    border: solid olivedrab 2px;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 400px;
    margin: 20px;
    flex: 1 1 auto;
    justify-content: space-between;
    align-self: center;
    text-align: center;
}

.footer{
    height: 20%;
    background: greenyellow;
    background-color: greenyellow;
    border-top: solid 2px yellow;
    padding-top: 2px;
    padding-bottom:10px;
    margin-bottom: 20px;
    text-align: center;
    color: green;
    font-size:large;
    font-weight: bolder;
    font-family: 'cyrillic','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer p{
    color: green;
    font-size:large;
    font-weight:900;
    font-family: 'cyrillic','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sec img{
    width: 600px;
    height: auto;
    border: solid yellowgreen 5px;
}

.ingredient, #ingre, .method, #meth, #fact{
    text-align: left;
    margin: 10px 0px;
    border: solid green 2px;
    padding-left: 15px ;
}

#ingre, #meth{
    width: max-content;
    padding: 15px 15px;
    color: white;
    border: solid olivedrab 2px;
    border-radius: 20px;
    background-color: orangered;
}

#fact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0px;
}

#fact-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px;
    
}

#fact h3{
    margin: ;
    /*width:max-content;*/
    padding:15px 15px;
    color:white;
    border:solid olivedrab 2px;
    border-radius: 20px;
    background-color: orangered;
}

.facts{
    font-weight: bold;
}
